<div class="my-sticky">
    <div class="navbar">
        <div class="subnav">
            <a routerLink='/'><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Actualités<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a routerLink='articles/1/0'>Le Point</a>
                <a routerLink='articles/1/1'>Le Monde</a>
                <a routerLink='articles/1/2'>L'Express</a>
                <a routerLink='articles/1/3'>La croix</a>
                <a routerLink='articles/1/4'>Courrier-International</a>
                <a routerLink='articles/1/5'>L'Humanité</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn"> Science <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a routerLink='articles/2/0'>Le Monde</a>
                <a routerLink='articles/2/1'>Le Nouvel Obs</a>
                <a routerLink='articles/2/2'>L'Express</a>
                <a routerLink='articles/2/3'>Courrier-International</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn"> Culture <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a routerLink='articles/3/0'>Le Monde</a>
                <a routerLink='articles/3/1'>Le Point</a>
                <a routerLink='articles/3/2'>Courrier-International</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn"> Sport <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a routerLink='articles/4/0'>Le Point</a>
                <a routerLink='articles/4/1'>Le Monde</a>
                <a routerLink='articles/4/2'>L'Equipe</a>
                <a routerLink='articles/4/3'>Sport.fr</a>
            </div>
        </div>
    </div>
</div>
<hr /><hr />


